if SHIELD_TINY18_R

config ZMK_KEYBOARD_NAME
    default "tiny18"

config ZMK_BLE
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TINY18_R || SHIELD_TINY18_L


config ZMK_SPLIT
    default y

config INPUT
    default y

config ZMK_POINTING
    default y

config RGBLED_WIDGET_BATTERY_LEVEL_HIGH
    default 30

config RGBLED_WIDGET_BATTERY_LEVEL_CRITICAL
    default 10

# トラックボール有効化
config ZMK_POINTING
    default y

config ZMK_MOUSE
    default y

config AZ1UBALL
    default y

config I2C
    default y

config LOG
    default y

config AZ1UBALL_LOG_LEVEL
    default 4

endif
